# python packaging
/*.egg-info
__pycache__/
/dist

# indices
index/
geoindex/

# intermediate data used to generate the list of institutes
/*.cpg
/*.dbf
/*.prj
/*.shp
/*.shx
/*.log
/*.README.html
/*.VERSION.txt
/*.zip
/*.csv

# docs
/docs/_build
